# Configuration file

"allowed items" {
    # Allow Crop Harvester in game
    B:EnableCropHarvester=true

    # Allow Floodlight in game
    B:EnableFloodLight=true

    # Allow Furnace in game
    B:EnableFurnace=true

    # Allow Generator in game
    B:EnableGenerator=true

    # Allow Item conduit in game
    B:EnableItemConduit=true

    # Allow Packager upgrade in game
    B:EnablePackagerUpgrade=true

    # Allow crafting of pickaxe
    B:EnablePickaxe=true

    # Allow Portable crafting table in game
    B:EnablePortableCrafter=true

    # Allow Pulverizer in game
    B:EnablePulverizer=true

    # Allow Quarry
    B:EnableQuarry=true

    # Allow RF conduit in game
    B:EnableRFConduit=true

    # Allow SpecialChest in game
    B:EnableSpecialChest=true

    # Enable Storage units
    B:EnableStorageUnits=true

    # Allow Treefarm in game
    B:EnableTreeFarm=true
}


cammo {
    # Regex, you can blacklist unwanted blocks here
    # will make it mark the blocks as not valid for cammo
    # 
    S:Blacklist <
        null
        projectred-illumination:*
     >
}


harvester {
    # Idle between harvest in ticks [range: 1 ~ 20, default: 10]
    I:"Idle Tick"=10

    # Max range a user can select [range: 1 ~ 32, default: 10]
    I:"Max Range"=10

    # RF used when idle [range: 0 ~ 200000, default: 2]
    I:"RF Idle"=2

    # RF used on each harvest [range: 0 ~ 200000, default: 200]
    I:"RF harvest"=200
}


quarry {
    # Quarry just simply destroy all fluid blocks it find [default: true]
    B:"Destroy Fluid"=true

    # Enable particles and sound when breaking blocks
    B:"Enable Particles"=true

    # Fake player Name
    S:"Fake Player Name"=[RRPlayer]

    # Fake player UUID for Quarry
    S:"Fake Player UUID"=47474747-4747-458c-ad49-6ee6f209623c

    # Max range a user can select [range: 1 ~ 32, default: 16]
    I:"Max Range"=16

    # How much RF to use on block break [range: 0 ~ 200000, default: 2000]
    I:RFb=2000

    # Use a custom blockbreak to try lower bandwith usage.
    B:"Use alternative block break"=true
}


recipes {
    # Recipe for Crop Harvester
    S:v2 <
        shaped, routerreborn:quarry@0#1, ingotIron, ingotIron, ingotIron, routerreborn:coil, minecraft:diamond_pickaxe, routerreborn:coil, ingotIron, ingotIron, ingotIron
        shaped, routerreborn:blockfarm@0#1, ingotIron, ingotIron, ingotIron, routerreborn:coil, minecraft:diamond_hoe, routerreborn:coil, ingotIron, ingotIron, ingotIron
        shaped, routerreborn:rr_treefarm@0#1, ingotIron, ingotIron, ingotIron, routerreborn:coil, minecraft:diamond_axe, routerreborn:coil, ingotIron, ingotIron, ingotIron
        shaped, routerreborn:rr_generator@0, ingotIron, ingotIron, ingotIron, routerreborn:coil, blockIron, routerreborn:coil, stone, routerreborn:coil, stone
        shaped, routerreborn:rr_furnace@0, ingotIron, ingotIron, ingotIron, ingotIron, minecraft:furnace, ingotIron, stone, routerreborn:coil, stone
        shaped, routerreborn:rr_pulverizer@0, ingotIron, ingotIron, ingotIron, flint, furnace, flint, stone, routerreborn:coil, stone
        shaped, routerreborn:coil, ingotCopper, ingotCopper, ingotCopper, null, ingotCopper, null, ingotCopper, ingotCopper, ingotCopper
        shaped, routerreborn:pickaxe, minecraft:redstone_block, minecraft:tnt, minecraft:redstone_block, minecraft:flint, minecraft:flint, minecraft:flint, minecraft:torch, minecraft:diamond_pickaxe, minecraft:torch
        shaped, routerreborn:router_lampblock, minecraft:torch, minecraft:torch, minecraft:torch, minecraft:torch, glowstone_dust, minecraft:torch, minecraft:torch, minecraft:torch, minecraft:torch
        shapeless, routerreborn:router_lampblock, routerreborn:router_lampblock2
        shapeless, routerreborn:router_lampblock2, routerreborn:router_lampblock
        shaped, routerreborn:router_cable#6, minecraft:glass, minecraft:chest, minecraft:glass
        shaped, routerreborn:itemportablecraft, null, minecraft:crafting_table, stick, null
        shaped, routerreborn:upgradechestpackager, minecraft:piston, ingotIron, minecraft:piston, ingotIron, minecraft:crafting_table, ingotIron, minecraft:piston, ingotIron, minecraft:piston
        shaped, routerreborn:upgradechestpackageradvanced, minecraft:diamond, routerreborn:upgradechestpackager, minecraft:diamond
        shaped, routerreborn:upgradechestitemfilter, ingotIron, paper, ingotIron, minecraft:paper, minecraft:dye@4#1, minecraft:paper, ingotIron, minecraft:paper, ingotIron
        shaped, routerreborn:upgradechestitemfilteradvanced, minecraft:diamond, routerreborn:upgradechestitemfilter, minecraft:diamond
        shaped, routerreborn:upgradechestvoid, ingotIron, null, ingotIron, ingotIron, minecraft:lava_bucket, ingotIron, ingotIron, ingotIron, ingotIron
        shaped, routerreborn:upgradechestextract, ingotIron, minecraft:redstone, ingotIron, minecraft:redstone, minecraft:sticky_piston, minecraft:redstone, ingotIron, minecraft:redstone, ingotIron
        shaped, routerreborn:upgradechestadvancedextract, minecraft:diamond, routerreborn:upgradechestextract, minecraft:diamond
        shaped, routerreborn:upgradechesteject, ingotIron, minecraft:redstone, ingotIron, minecraft:redstone, minecraft:piston, minecraft:redstone, ingotIron, minecraft:redstone, ingotIron
        shaped, routerreborn:upgradechestvacum, ingotIron, minecraft:redstone, ingotIron, minecraft:redstone, minecraft:hopper, minecraft:redstone, ingotIron, minecraft:redstone, ingotIron
        shaped, routerreborn:upgradechestadvancedeject, minecraft:diamond, routerreborn:upgradechesteject, minecraft:diamond
        shaped, routerreborn:specialchest, minecraft:dye@4, minecraft:dye@4, minecraft:dye@4, minecraft:dye@4, minecraft:chest, minecraft:dye@4, minecraft:dye@4, minecraft:dye@4, minecraft:dye@4
        shaped, routerreborn:itemcamouflageupgrade, minecraft:redstone, 	minecraft:redstone, minecraft:redstone, minecraft:glowstone_dust, minecraft:diamond, minecraft:glowstone_dust, minecraft:redstone, minecraft:redstone, minecraft:redstone
        shaped, routerreborn:itemwrench, ingotIron, null, ingotIron, null, ingotIron, null, ingotIron, null, ingotIron
        shaped, routerreborn:itemfilterupgrade, ingotIron, minecraft:torch, ingotIron, ingotGold, minecraft:diamond, ingotGold, ingotIron, minecraft:chest, ingotIron
        shaped, routerreborn:machineupgrade, ingotIron, minecraft:redstone_torch, ingotIron, ingotGold, minecraft:diamond, ingotGold, ingotIron, minecraft:book, ingotIron
        shaped, routerreborn:itemejectupgrade, ingotIron, plankWood, ingotIron, minecraft:cobblestone, minecraft:wooden_pressure_plate, minecraft:cobblestone, ingotIron, minecraft:piston, ingotIron
        shaped, routerreborn:bandwidthupgrade, ingotIron, minecraft:blaze_powder, ingotIron, minecraft:blaze_powder, minecraft:diamond, minecraft:blaze_powder, ingotIron, minecraft:blaze_powder, ingotIron
        shaped, routerreborn:itemthoroughupgrade, ingotIron, minecraft:soul_sand, ingotIron, minecraft:soul_sand, minecraft:soul_sand, minecraft:soul_sand, ingotIron, minecraft:soul_sand, ingotIron
        shaped, routerreborn:speedupgrade, ingotIron, minecraft:sugar, ingotIron, minecraft:sugar, ingotIron, minecraft:sugar, ingotIron, minecraft:sugar, ingotIron
        shaped, routerreborn:router, ingotIron, ingotIron, ingotIron, minecraft:ender_pearl, minecraft:diamond, minecraft:ender_eye, ingotIron, ingotIron, ingotIron
        shaped, routerreborn:barrel@0, logWood, logWood, logWood, ingotIron, plankWood, ingotIron, logWood, logWood, logWood
        shaped, routerreborn:barrel@1, logWood, logWood, logWood, ingotGold, plankWood, ingotGold, logWood, logWood, logWood
        shaped, routerreborn:barrel@2, logWood, logWood, logWood, minecraft:ender_pearl, plankWood, minecraft:ender_pearl, logWood, logWood, logWood
        shaped, routerreborn:rr_blockenergyconduit#12, ingotIron, ingotIron, ingotIron, ingotCopper, minecraft:redstone, ingotCopper, ingotIron, ingotIron, ingotIron
        shaped, routerreborn:rr_blockitemconduit#12, ingotIron, ingotIron, ingotIron, ingotCopper, minecraft:chest, ingotCopper, ingotIron, ingotIron, ingotIron
     >
}


router {
    # Regex, you can blacklist unwanted inventory here
    # will make it mark the inventory as a non valid
    # It will not scan for any inventory past this
    S:Blacklist <
        tile.null*
        tile.multipart*
        tile.appliedenergistics2.BlockCableBus*
        tile.pipeBlock
     >

    # how many machines to serve on each active tick
    I:machinesprtick=1

    # how many threads allowed to be used for scanning for inventory
    I:scanforinventory_threads=4

    # Amount of ticks between each transfer of items
    I:tickrate=2
}


storageunit {
    # Enable ore dictionary lookup of items being inserted to the storage unit
    B:OreDictionary=true

    # Oredictionary name you want to whitelist (easier compared to doing single blocks) Old list can be removed
    S:OreDictionaryWhitelistNew <
        block
        ore
        ingot
        nugget
        dust
     >

    # Range in blocks to render content [range: 10.0 ~ 100.0, default: 20.0]
    S:"Render Distance"=20.0

    # Render item inside the storage in 3D
    B:RenderItem3D=false

    # Render name of item inside the storage
    B:RenderItemName=true

    # Render item inside the storage on all sides
    B:ShowItemOnAllSides=true
}


tools {
    # Placing torches with pickaxe need the player to have torches in the inventory
    B:"Pickaxe use torches"=false

    # Allow pickaxe to show info in top left corner
    B:PickaxeOverlay=true

    # Allow pickaxe to place torches
    B:PickaxeTorches=true
}


"tree farm" {
    # Ticks between each block harvested, lower is faster (also affect planting rate) increase to lower load on server
    I:HarvestRate=5
    I:RF_used_harvesting=90
    I:RF_used_planting=20
    I:RF_used_scan=10

    # Ticks between checking for trees, lower is faster (also affect how long it takes to scan a complete tree) increase to lower load on server
    I:TreeCheckRate=10
    B:enableParticleAndSound=true
}


worldgen {
    B:CopperDust=true
    B:CopperIngot=true

    # Allow world generation of copper ore
    B:CopperOre=false
    B:GoldDust=true
    B:IronDust=true
    B:LeadDust=true
    B:LeadIngot=true
    B:SilverDust=true
    B:SilverIngot=true
    B:TinDust=true
    B:TinIngot=true
}


